body{
    background-color:antiquewhite;

}
label{
    display: block;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
}
form{
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    margin: 150px;
    
}
h4{
   float:right;
   
   
}