
.grievance_main{
    min-height: 100vh;
    min-width: calc(100vw - 300px);
    background-color: #E6EEF5;
}

.grievance_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.welcome_note{
    padding: 30px 0px 30px 44px;
}
.note1{
    font-size: 16px;
    font-weight: 600;
    color: #A1A7AC;
}

.note2{
    font-size: 28px;
    font-weight: 600;
    color: #23455F;
}
.form-search{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    
}
.search-input{
    margin-top: 37px;
    margin-right: 90px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.list_container_grievances{
    position: relative;
<<<<<<< HEAD
    width: 1000px;
=======
    width: 900px;
>>>>>>> 047b4154c44522c18d6b8c112f752de566267caf
    height: 520px;
    display: flex;
    flex-direction: column;
    margin: 0px 90px 47px 44px;
    background-color: #ffffff;
    border-radius: 15px;  

}
.title_bar{
    width: 100%;
    border-radius: 15px;
    padding: 15px 45px 0px 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-size: 24px;
    font-weight: 600;
}

button{

    background-color: #23455F;
    width: 75px;
    height:42px ;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
    
}

.title_button:hover{
    cursor: pointer;
}
.horizontal-line {
    margin: 15px 0px;
    height: 1px;
    width: 100%;
    background-color: #D5D5D5; 
}
.menu_bar{
    font-size: 15px;
    color: #999999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.ticketNumber{
    padding-left: 65px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.arrow_down{
    width: 24px;
    height: 24px;
}
.invoiceDate{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px 250px 0px 230px;
}

.status{
    padding-right: 90px;
    display: flex;
    align-items: center;
    flex-direction: row;
}



.horizontal-line2 {
    margin-top: 15px;
    height: 1px;
    width: 100%;
    background-color: #D5D5D5; 
}


.grievance-table{
    font-size: 15px;
    font-weight: 600;
    color: #7d7d7d;
    padding: 0px 65px 0px 65px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list{
    padding:  10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    text-align: left; 
}

.list_row{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.list_data_ticketNumber{
    text-align: left; 
    padding: 10px;
}
.list_data_invoiceDate{
    text-align: center;
    padding: 10px;
    
}
.list_data_status{
    width: 120px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
}

.list_data_status_icon{
    padding-right: 5px;
}
.status_dot{
    width: 8px;
}
.bottom_section{
    
    position: absolute;
    width: 1100px;
    bottom: 0px;
}

.horizontal-line3 {
    margin-top: 0px;
    height: 1px;
    width: 100%;
    background-color: #D5D5D5; 
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
    
}

.pagination-button {
    background: none;
    border: none;
    color: gray;
    font-size: 18px;
    cursor: pointer;
}

.pagination-info {
    padding: 10px 0px;
    font-weight: 600;
    font-size: 12px;
    color: gray;
}
