*{
    margin: 0;
    padding: 0;
    
}

.container_sidebar{
    display: flex;
    
}

.sidebar{
    color: #7799B0;
    background-color: #E6EEF5;
    width:300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-color: #4788ca;
}
.mainnavigation{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 134px;
}
.logocontainer{
    width: 90px;
}
.grievances{
    text-decoration: none;
    color: #7799B0;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    padding: 18px 24px;
}

.grievances.active,
.details.active,
.notificationuser.active{
  background-color: white;
  color: #23455F;
}

.icon_grievance_inactive{
    width: 18px;
    margin-right: 10px;
}

.details{
    text-decoration: none;
    color: #7799B0;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    padding: 18px 24px;
}



.icon_details_inactive{
    width: 18px;
    margin-right: 10px;
}
.notificationuser{
    text-decoration: none;
    color: #7799B0;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    padding: 18px 24px;
}


.icon_notification_inactive{
    width: 18px;
    margin-right: 10px;
}
.user_indicator{
    display:flex;
    flex-direction: row;
    padding: 24px 16px ;
    align-items: center;
    background-color: #E6EEF5; 
    border-radius: 8px;
    width: fit-content;
}
.user_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF; 
    color: #7799B0; 
    font-size: 16px;
    font-weight: medium;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin-right: 10px;
}
.user_details{
    display: flex;
    flex-direction: column;
}

.user_name {
    font-size: 15px;
    color: #09253A;
    font-weight: 600;
}

.user_email {
    font-size: 13px;
    color: #7799B0;
}

.vertical-line {
    width: 1px;
    height: 100vh;
    background-color: #D5D5D5; /* Space between the line and the divs */
}

